* {
  box-sizing: border-box;
}

img {
  box-shadow: 5px 5px 25px gray;
  transition: all 0.4s;
  border-radius: 0.25rem;
}

img:hover {
  filter: grayscale(0) sepia(15%);
  transform: scale(1.03);
}

.body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.articles {
  grid-area: articles;
}

.footer {
  grid-area: footer;
}

.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 400px;
  width: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #646464;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
  "header"
  "articles"
  "footer";
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: #fff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__h1 {
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  display: none;
  text-transform: none;
  font-variant: small-caps;
  font-weight: bold;
}

.nav {
  height: inherit;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.nav__item {
  list-style-type: none;
  margin-left: 1em;
}

.nav__link {
  position: relative;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: none;
  font-variant: small-caps;
  text-decoration: none;
  color: inherit;
  display: block;
  letter-spacing: 0.1rem;
}

.nav__link--red {
  font-weight: bold;
  color: red;
}

.nav__link:hover {
  color: red;
}

/* ASIDE */

.aside {
  width: 95%;
  display: none;
}

.aside__header {
  font-size: 1.2em;
}

.aside__text {
  font-size: 0.9em;
}

  /* Aside cards */

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin: 0 0 2em 0;
}

.card__text {
  padding: 1em 0.5rem 0em 0.5em;
  display: flex;
  justify-content: space-between;
}

.card__encabezado {
  font-size: 0.7em;
  margin: 0;
}

.card__fecha {
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: 0.25rem 0 0.5rem 0;
  text-transform: uppercase;
}

.card__imagepeque,
.article__imagepeque {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -0.5rem;
}

.card__image {
  width: 100%;
}

/* ARTICULOS MAIN */

.articles {
  width: 100%;
}

.article {
  padding: 1em 2em 1em 2em;
  background: #ffffff;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin: 0rem 0 3em 0;
  padding: 0rem 3rem 0.5rem;
}

.article__header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  margin-bottom: 2rem;
}

.article__title {
  display: none;
  padding: 0 0 1em 1em;
  width: 100%;
  text-align: center;
}

.article__h2 {
  font-size: 1.5em;
  color: #646464;
}

.article__p {
  font-size: 0.7em;
}

.article__data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  width: 30%;
  margin: 2rem 0;
  display: none;
}

.article__date {
  color: #3c3b3b;
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-top: 2em;
  text-transform: uppercase;
}

.article__autor {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 0.6rem;
}

.article__name {
  margin-right: 0.6rem;
  letter-spacing: 0.2rem;
}

.article__body {
  display: flex;
  flex-direction: column;
}

.article__image {
  max-width: 100%;
  display: none;
}

.article__text {
  text-transform: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.article__footer {
  display: none;
  justify-content: flex-end;
}

.article__footer-text {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  margin-left: 2rem;
  padding-left: 2rem;
  text-transform: uppercase;
}

/* FOOTER */

.footer {
  font-family: arial;
  font-size: 0.65rem;
  text-transform: none;
  letter-spacing: 0.01rem;
  font-variant: small-caps;
  text-align: center;

  border-top: solid 1px rgba(160, 160, 160, 0.3);
}

.footer__textcolor {
  color: rgb(255, 0, 0);
}